.wrapper {
  width: 100vw;
  height: 100vh;
  border: 5px solid #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(128, 139, 150);
}
.tiles-wrapper {
  position: relative;
}
.tiles {
  /* border: 5px solid red; */
  display: grid;
  grid-template-columns: repeat(15, 2.8rem);
  grid-template-rows: repeat(15, 2.8rem);
}
.tile {
  border-left: 1px solid blue;
  border-top: 1px solid blue;
}
.tile:nth-child(15n) {
  border-right: 1px solid blue;
}
.tile:nth-child(n + 211) {
  border-bottom: 1px solid blue;
}

.tile:nth-child(113) {
  background-color: rgba(255, 0, 0, 0.329);
}
.robot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 1s linear;
  width: 2.8rem;
  height: 2.8rem;
}
/* controls section */
.controls {
  /* outline: 3px solid pink; */
  display: flex;
  column-gap: 2rem;
}
.control-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.control-btn:hover {
  background-color: rgba(216, 112, 147, 0.404);
  color: #eee;
}
.control-btn:active {
  transform: scale(0.97);
}

.controls-wrapper{
  display: grid;
  row-gap: 2rem;
}

.input-area {
  outline: 3px solid rebeccapurple;
  display: grid;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}


.input {
  font-size: 20px;
}

.input-btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}